@font-face {
    font-family: octagon;
    src: url(../export/octagonVF.woff2);
}

:root {
    --foreground: #ff1f1f;
    --background: #1e90ff;
}

html, body {
    margin: 12px 8px;
}

html {
    font-family: octagon;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit;
    background-color: var(--background);
}

h1 {
}

.sample {
    font-family: octagon;
    font-size: 256px;
    line-height: 0.7;
    text-align: left;
    width: 100vw;
    height: 100vh;
    color: var(--foreground);
}