@font-face {
    font-family: octagon;
    src: url(fonts/octagonVF.woff2);
}

:root {
    /*--foreground: #ff1f1f;*/
    --foreground: #ff1f1f;
    /*--background: #1e90ff;*/
    --background: #fff;
}

html, body {
}

html {
    font-family: octagon;
    height: auto;
    /*background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 11%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 57%, rgba(253,187,45,1) 92%);*/
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-color: var(--background);*/
    margin: 12px 8px;
}

h1 {
}

.sample-0 {
    font-family: octagon;
    overflow: hidden;
    font-size: 960px;
    line-height: 0.64;
    text-align: center;
    width: 100%;
    height: auto;
    max-height: 100vh;
    padding-bottom: 48px;
    padding-top: 14px;
}

.sample-1 {
    border-top: 2px solid;
    font-family: octagon;
    overflow: hidden;
    font-size: 388px;
    line-height: 0.64;
    letter-spacing: 0.005em;
	text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
    padding-top: 14px;
}

.sample-2 {
    border-top: 2px solid;
    padding-top: 14px;
    font-family: octagon;
    overflow-x: hidden;
    font-size: 244px;
    line-height: 0.64;
	letter-spacing: 0.01em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}


.sample-3 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 168px;
    line-height: 0.68;
    letter-spacing: 0.015em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.sample-4 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 98px;
    line-height: 0.68;
    letter-spacing: 0.025em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.sample-5 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 49px;
    line-height: 0.76;
    letter-spacing: 0.04em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.hrot-30 {
    display: inline-block;
    font-variation-settings: 'HROT' 30, 'VROT' 0;
}

.hrot--30 {
    display: inline-block;
    font-variation-settings: 'HROT' -30, 'VROT' 0;
}