@font-face {
    font-family: octagon;
    src: url(fonts/octagonVF.woff2);
}

:root {
    /*--foreground: #ff1f1f;*/
    --foreground: #ff1f1f;
    /*--background: #1e90ff;*/
    --background: #fff;
}

html, body {
}

html {
    font-family: octagon;
    height: auto;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 11%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 57%, rgba(253,187,45,1) 92%);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-color: var(--background);*/
    margin: 12px 8px;
}

h1 {
}

.sample {
    font-family: octagon;
    font-size: 396px;
    line-height: 0.64;
    text-align: center;
    width: 100%;
    height: auto;
    color: var(--foreground);
}


.sample-2 {
    font-family: octagon;
    font-size: 196px;
    line-height: 0.64;
    text-align: left;
    width: 100%;
    height: 100vh;
    color: var(--foreground);
}